<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="lib/css/index.css">
</head>

<body>
    <header><a href="index.html"><%= title %></a></header>
    <div id="mainbox">
        <ul id="list">
            <% for(const name in info){ %>
                <% if(info.hasOwnProperty(name)){%>
                    <li><a href=<%= "post/" + name + ".html" %>><%= name %> </a></li>
                <% } %>
            <% } %>
        </ul>
    </div>
</body>

</html>