<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <% var codeThemeDir="../lib/code-themes/"+codeTheme+".css" %>
    <link rel="stylesheet" href=<%= codeThemeDir %>>
</head>

<body>
    <h1><%= title %> </h1>
    <%- html %>
</body>

</html>